<div class="carousel-custom">
  <button class="carousel-button--prev"
          (click)="prev()"
  >
  </button>
  
  <div class="carousel-wrapper">
    <ul class="carousel-inner-custom" #carousel>
      <li *ngFor="let item of items; let i = index" class="carousel-item-directive">
        <app-lazy-image
          [item]="item"
          [isCurrent]="i === currentSlide"
        >
        </app-lazy-image>
      </li>
    </ul>
  </div>
  
  <button class="carousel-button--next"
          (click)="next()"
  >
  </button>
</div>
